<template name="signIn">
  {{#contentFor "headerTitle"}}
    <h1 class="title">기존회원</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="signup-container">
      <div class="list signup-list">
        <label class="item item-input">
          <input id="email" type="text" placeholder="학교 또는 회사 이메일">
        </label>
        <label class="item item-input">
          <input id="password" type="password" placeholder="비밀번호">
        </label>

        <div class="bottom-row padding">

          <span class="not-registered error-msg">등록된 이메일이 아니에요</span>
          <span class="incorrect-pw error-msg">비밀번호가 틀려요!</span>

          <button class="button button-block button-positive signin-btn">
            로그인
          </button>

          <p class="go-to-signup">아직도 회원이 아니세요? <a href="#" class="signup-link">회원가입</a></p>

        </div>
      </div>
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>
