<template name="signIn">
  {{#ionModal title="로그인" class="hide-close-btn"}}
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">학교 또는 회사 이메일</span>
        <span class="not-registered error-msg">등록된 이메일이 아니에요</span>
        <input id="email" type="text" placeholder="kim@snu.ac.kr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">비밀번호</span>
        <span class="incorrect-pw error-msg">비밀번호가 틀려요!</span>
        <input id="password" type="password" placeholder="비밀번호">
      </label>

      <div class="bottom-row padding">
        <button class="button button-block button-positive signin-btn">
          로그인
        </button>
        아직도 회원이 아니세요? <a href="#" class="signup-link">회원가입</a>
      </div>
    </div>
  {{/ionModal}}
</template>
