<template name="signUp">
  {{#contentFor "headerTitle"}}
    <h1 class="title">New User</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
    <div class="signup-container">
      <div class="list signup-list">
        
        <label class="item item-input">
          <input id="email" type="text" placeholder="Company Email">
        </label>
        <label class="item item-input password-item-input">
          <input id="password" type="password" placeholder="Password">
        </label>
        <label class="item item-input">
          <input id="password2" type="password" placeholder="Password Confirmation">
        </label>

        <div class="bottom-row padding">
          <span class="invalid-email error-msg">
            Wrong email format
          </span>
          <span class="already-registered error-msg">
            That email is already registered
          </span>
          <span class="pw-mismatch error-msg">
            The passwords do not match
          </span>
          <span class="error-msg blacklist-domain-err">
          </span>

          <button class="button button-block button-positive signup-btn">
            Sign up
          </button>
          <p class="go-to-signin">Already have an account? <a href="#" class="signin-link">Log in</a></p>
        </div>
      </div>
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>
