[submodule "packages/WKWebView"]
	path = packages/WKWebView
	url = git@github.com:woniesong92/WKWebView.git
[submodule "packages/meteor-ionic"]
	path = packages/meteor-ionic
	url = git@github.com:woniesong92/meteor-ionic.git
[submodule "packages/meteor-wkwebview"]
	path = packages/meteor-wkwebview
	url = git@github.com:woniesong92/meteor-wkwebview.git
