<template name="appLayout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

    {{> myLoadingContainer}}

    {{#unless shouldHideTab}}
      {{#if isAndroid}}
        {{#ionTabs style="android"}}
          {{> ionTab title="Trending" path="trending" icon="android-star"}}
          {{> ionTab title="Recent" path="recent" icon="android-time"}}
          {{> ionTab title="Notifications" path="notifications" icon="android-notifications"}}
          {{> ionTab title="Profile" path="profile" icon="android-happy"}}
        {{/ionTabs}}
      {{else}}
        <span class="new-notifs {{newExist}}">{{> ionIcon icon="record"}}</span>
        {{#ionTabs style="ios"}}
          {{> ionTab title="최근" path="recent" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
          {{> ionTab title="인기" path="trending" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
          {{> ionTab title="알림" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive notif-tab"}}
          {{> ionTab title="나" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
        {{/ionTabs}}
      {{/if}}
    {{/unless}}
  {{/ionBody}}

</template>
