<template name="download">
  <div class="container-fluid wrapper download-wrapper">
    {{> Intro}}
  </div>
  {{> Footer}}
</template>


<template name="Intro">

  <div class="section no-pad-bot desktop" id="index-banner">
    <div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-6 text-left mockup-container">
          <img src="/images/mockup.png" class="mockup">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 text-left intro-text">
          <img src="/images/logo_horiz.png" class="logo">
          <h1>See what your coworkers are really thinking.</h1>
          <div class="btn-container">
            <a href="" class="btn btn-large btn-flat app-btn ios"><span class="btn-content"><i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;&nbsp;For iOS</span></a>
            <a href="" class="btn btn-large btn-flat app-btn android"><span class="btn-content"><i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;&nbsp;For Android</span></a>
          </div>
        </div>
        
      </div>
      <br><br>

    </div>
  </div>

  <div class="section no-pad-bot mobile" id="index-banner">
    <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 text-left logo-container">
            <img src="/images/logo_horiz.png" class="logo">
          </div>
        </div>
      
        <div class="col-xs-12 col-sm-12 col-md-6 text-left mockup-container">
          <img src="/images/mockup.png" class="mockup">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 text-left intro-text">
          <h1>See what your coworkers are really thinking.</h1>
          <div class="btn-container">
            <a href="" class="btn btn-large btn-flat app-btn ios"><span class="btn-content"><i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;&nbsp;For iOS</span></a>
            <a href="" class="btn btn-large btn-flat app-btn android"><span class="btn-content"><i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;&nbsp;For Android</span></a>
          </div>
        </div>
        
      </div>
      <br><br>

    </div>


</template>

<template name="Footer">
  <footer class="page-footer red lighten-3">
          
          <div class="footer-copyright">
            &copy; 2015 HONEYJAM STUDIO
          </div>

          <div class="footer-privacy">
            <a href="/settings/privacy">Privacy Policy</a>
          </div>
        </footer>
</template>
