// Custom
@import 'app-mixins';
@import 'app-variables';

// Ionic
@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.content.overflow-scroll {
  bottom: 0px !important;
}

.resume-network {
  width: 80%;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 10%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
  z-index: 40;
  padding-top: 20px;
  border-radius: 10px;
  // display: none;
  display: block;
}

// .resume-network.show {
//   display: block;
// }

.resume-domain {
  font-weight: bold;
  color: $positive-light;
  font-size: 20px;
}

.bar.bar-stable {
  // border-color: #0286c2;
  background-color: #ff464f;
  background-image: linear-gradient(0deg, #0286c2, #0286c2 50%, transparent 50%);
  color: #fff;
}

.bar.bar-header.bar-stable button {
  color: #fff;
}

button.button.button-clear.pull-left.button-positive.header-rep {
    margin-left: 5px;
    font-size: 17px;
}

.new-notifs {
  position: absolute;
  bottom: 25px;
  right: 34%;
  z-index: 10;
  color: $positive;
  font-size: 12px;
  display: none;
}

.new-notifs.show {
  display: block;
}

.button.button-positive {
  border-color: #ff464f;
  background-color: #ff464f;
  color: #fff;
}

.product-title a {
  text-decoration: none;
  font-weight: bold;
}

.button-circle {
  border-radius: 100%;
  min-width: 30px;
  min-height: 30px;
}

.bar .title {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
}

.bar.bar-stable .title {
  color: #fff;
  // font-weight: bold;
}

.empty-view {
  color: #ccc;
  text-align: center;
  padding-top: 160px;

  i {
    display: block;
    margin: 0 auto 12px auto;
    font-size: 60px;
  }
}

.bar-stable .button.button-clear {
  color: $in-header;
}

.author-avatar {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
  position: relative;
}

.author-avatar i {
  color: #fff;
  font-size: 22px;
  line-height: 35px;
}

.rep {
  font-size: 10px;
  color: #ff464f;
  text-align: center;
  width: 35px;
  height: 35px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  opacity: 0.7;
  border: $positive 1px solid;
  border-radius: 20px;

}

.rep .author-rep {
  font-size: 12px;
  line-height: 32px;
}

.item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 10px 10px 10px 10px;
  min-height: 120px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.item p {
  width: 65%;
  margin-left: 54px;
  margin-top: -80px;
  padding-bottom: 30px;
  font-size: 16px;
}

.vote-buttons {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  min-height: 100%;
  margin-top: -10px;
  padding: 0;
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 12px;
  border-width: 0;
  border-radius: none;
  color: $positive;
  background-color: transparent;

  .icon {
    height: 20px;
    opacity: 0.3;
    // top: 4px;

    &:before {
      font-size: 35px;
      line-height: 20px;
      font-weight: bold;
    }
  }
}

.upvote-button {
  position: absolute;
  top: 0;
  padding-left: 15px;
  padding-right: 38px;
  width: 100%;
  height: 50%;
  z-index: 10;

  &.has-voted {
    .icon {
      opacity: 1;
    }
  }
}

.downvote-button {
  position: absolute;
  padding-left: 15px;
  padding-right: 38px;
  top: 50%;
  width: 100%;
  height: 50%;
  z-index: 10;

  &.has-voted {
    .icon {
      opacity: 1;
      color: #777;
    }
  }
}

i.icon.ion-ios-arrow-up {
  top: 10%;;
}

i.icon.ion-ios-arrow-down {
    top: 43%;
}

.numlikes-container {
  position: absolute;
  margin-left: 1px;
  top: 40%;
  left: 15px;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.product-detail {
  padding-bottom: 44px; /* comment writing form height */
}

.post-item-bottom {
  font-size: 12px;
  text-align: right;
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: #999999;
  width: 100%;
}

.post-date {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 12px;

  .icon {
    font-size: 15px;
    position: static;
    display: inline;
    color: #cccccc;

    &:before {
      display: inline;
    }
  }
}

.post-date.comment-post-date {
  font-size: 12px;
}

.product-detail .post-item {
  min-height: 150px;
}

.product-detail .post-item p {
  font-size: 18px;
}

.comments-count {
  width: 100%;
  text-align: center;
  position: absolute;
  left: -10px;
  bottom: 0px;

  .icon {
    font-size: 17px;
    position: static;
    display: inline;
    color: #cccccc;

    &:before {
      display: inline;
    }
  }
}

.date-posted {
  font-size: 12px;
  width: 70px;
  text-align: right;
  color: #999999;
}

.product-detail {
  h5 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;

    small {
      font-size: 11px;
      font-weight: bold;
      color: #666;
    }
  }
}

.product-detail-comments {
  position: relative;
  border-top: #ddd 1px solid;

  .button-new-comment {
    position: absolute;
    top: 16px;
    right: 10px;
  }
}

.sign-in-modal {
  p {
    margin: 48px 0;
  }
}

.sign-in-button img {
  margin-top: 6px;
}

.profile-header {
  background: #27272B url("/images/nodes.png") center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 24px;

  .avatar {
    margin: 0 auto;
  }

  h3, p {
    color: #fff;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;

    img {
      vertical-align: middle;
    }
  }
}

.avatar {
  .avatar-image {
    border: 2px solid #fff;
  }

  .avatar-initials {
    border: 2px solid #fff;
    background: $positive;
    color: #fff;
  }
}

.posts-container {
  padding-left: 10px;
  padding-bottom: 49px;
}

.posts-container .item {
  border-bottom: #ddd 1px solid;
  padding-left: 0;
}

.comment-item, .post-list-item.item {
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  margin-top: 5px;
}

.comment-item {
  min-height: 80px;
  border-top: 0;
  padding-top: 41px;
  padding-left: 0px;
  padding-right: 10px;
}

.comments-list {
  padding-left: 10px;
}

.comment-item.item p {
  margin-top: -30px;
}

.comment-item-author {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 0px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  color: $dark;

  .avatar {
    display: inline-block;
    vertical-align: middle;
  }
}


/* newPost */


textarea {
  height: 200px;
  border-width: 0;
  resize: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 25px 10px;
  -webkit-appearance: none;
  font-size: 18px;
  line-height: 2em;
}

.new-post-form .item {
  border-width: 0;
  min-height: 200px;
}

.new-post-form {
  max-heighft: 200px;
}

.submit-post-btn {
  display: none;
}

.submit-post-btn.show {
  display: inline-block;
}

/*.product-detail .inline-new-comment-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
*/

.bar.bar-light.new-post-footer {
  // background-color: white;
  // border-top-color: white !important;
  // height: 49px;
  // width: 100%;

  background-color: white;
  background-color: white;
  border-top-color: white !important;
  height: 49px;
}

.new-post-footer .char-counter {
  padding: 0;
  margin: 0;
  float: right;
  color: $positive;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 22px;
}

.bar.bar-header.bar-stable.modal-header {
  height: 60px;
  padding-top: 20px;
}

.bar.bar-header.bar-stable.modal-header h2 {
  margin-top: 15px;
}

.submit-post-btn {
  position: absolute;
  top: 20px !important;
  right: 5px;
  bottom: 5px;
}

/* new post alert */
.new-post-alert {
  top: -100%;
  width: 100%;
  background-color: $positive;
  opacity: 0.7;
  color: #fff;
  height: 50px;
}

