// Custom
@import 'app-variables';

.signup-list .item-input input {
  padding: 10px;
  font-size: 17px;
  height: 100%;
  line-height: 40px;
  color: #555;
}

.signup-list .item-input {
  padding: 0;
  min-height: 40px;
}

// .signup-list.list {
//   margin-top: 60px;
// }

.password-item-input {
  margin-top: 20px;
}

.signup-container {
  background-color: #f3f7f7;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
}

.signup-btn, .signin-btn {
	margin-top: 20px;
  border-color: #0286c2;
}

.go-to-signup, .go-to-signin {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: #555;
}

.go-to-signup a, .go-to-signin a {
  text-decoration: none;
  color: $positive;
  font-weight: bold;
}

.signup-container .bottom-row {
	margin-top: 10px;
}

.signup-container .error-msg {
	text-align: center;
	padding-bottom: 5px;
	font-size: 17px;
	color: #F64747;
}

.signup-container .button.button-positive {
  opacity: 0.6;
}

.signup-container .button.button-positive.enabled {
  opacity: 1;
}

.not-verified-container {
  padding: 60px 15px;
  text-align: center;
  font-size: 17px;
  background-color: #f3f7f7;
  height: 100vh;
}

.not-verified-container .message {
  padding-bottom: 10px;
}

.not-verified-container button {
  margin-top: 20px;
}