<template name="newComment">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Comments" id="comments-new-form" type="insert" userId=userId postId=postId}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">취소</button>
        <h2 class="title">댓글쓰기</h2>
        <button type="submit" class="button button-positive button-clear">완료</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name='postId' type="hidden" value=postId label=false}}
        {{> afQuickField name='body'}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
