<template name="_comment">
  <div class="item item-text-wrap comment-item">
    {{#with author}}
      <a href="{{pathFor 'users.show'}}" class="comment-item-author">
        <div class="author-avatar" style="background-color: {{color}}">
          <i class="author-icon {{icon}}"></i>
        </div>
        <!-- {{profile.name}} -->
      </a>
    {{/with}}
    <div class="post-item-bottom">
      <span class="post-date">
        {{fromNow createdAt}}
        <!-- {{> ionIcon icon="ios-clock" }} -->
      </span>
    </div>
    <p>
      {{body}}
    </p>
  </div>
</template>
