<template name="_comment">
  <div class="item item-text-wrap comment-item">
    {{#with author}}
    <!-- 
      HOWON:
      DO WE WANT PATH TO USERS.SHOW? Later, let's enable
      the feature to message other users anonymously.
      For now, users should communicate with one another just
      in comments
     -->
      <!-- <a href="{{pathFor 'users.show'}}" class="comment-item-author"> -->
      <span class="comment-item-author">
        <div class="author-avatar" style="background-color: {{color}}">
          <i class="author-icon {{icon}}"></i>
        </div>
      </span>
      <!-- </a> -->
    {{/with}}
    <div class="post-item-bottom">
      <span class="post-date">
        {{fromNow createdAt}}
        <!-- {{> ionIcon icon="ios-clock" }} -->
      </span>
    </div>
    <p>
      {{body}}
    </p>
  </div>
</template>
