<template name="_inlineNewComment">
  <input class="inline-comment-body" type="text" placeholder="댓글을 작성하세요...">
  <button class="button button-small button-clear button-positive inline-comment-submit">
    작성
  </button>


<!--   <div class="item item-input inline-new-comment-inner">
    <label class="item-input-wrapper">
      <input class="inline-comment-body" type="text" placeholder="댓글을 작성하세요...">
    </label>
    <button class="button button-small button-clear button-positive inline-comment-submit">
      작성
    </button>
  </div> -->
</template>
