<template name="_postItem">
  {{#with post}}
    <!-- {{#ionItem path=../path iconLeft=true iconRight=true class="item-text-wrap post-list-item"}} -->
    <div>
      {{> _voteButton}}
      <p>
        {{body}}
      </p>
      <div class="post-item-bottom">
        <span class="comments-count">
          {{numberOfComments}} Comment{{#if isPlural}}s{{/if}}
        </span>
        <span class="post-date">
          {{fromNow createdAt}}
        </span>
      </div>
    </div>
  {{/with}}
</template>
