<template name="_postItem">
  {{#with post}}
    {{#ionItem path=../path iconLeft=true iconRight=true}}
      <div class="item-text-wrap">
        {{> _voteButton}}
        <div class="author-avatar" style="background-color: {{author.color}}">
          <i class="author-icon {{author.icon}}"></i>
        </div>
        <p>
          {{body}}
        </p>
        <div class="post-item-bottom">
          <span class="comments-count">
            댓글 {{numberOfComments}}개
            <!-- {{> ionIcon icon="ios-chatbubble" }} -->
          </span>
          <span class="post-date">
            {{fromNow}}
            <!-- {{> ionIcon icon="ios-clock" }} -->
          </span>
        </div>
      </div>
    {{/ionItem}}
  {{/with}}
</template>
