/*.product-detail .inline-new-comment-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
*/

.bar.bar-light.inline-comment-footer {
  background-color: white;
  border-top: 1px solid #ff646f !important;
  height: 49px;
}

.inline-comment-footer .inline-comment-body {
  width: 80%;
  float: left;
  padding: 0 10px ;
  margin: 0;
}

.inline-comment-footer .inline-comment-submit {
  width: 20%;
  padding: 0;
  margin: 0;
}

.inline-comment-footer .inline-comment-body {
  width: 80%;
  float: left;
  padding: 0 10px;
  margin: 3px 0 0 5px;
  background-color: #eee;
  border-radius: 5px;
}
