<template name="postsShow">

  {{#contentFor "headerButtonLeft"}}
    {{#if isNotAndroid}}
      {{>ionNavBackButton class="button-positive" text=false}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{#with post}}
      {{#if isMyPost}}
        <button class="button button-clear pull-right button-positive delete-post" data-post-id="{{post._id}}">
          {{> ionIcon icon='trash-a'}}
        </button>
      {{/if}}
    {{/with}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Toast</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="product-detail-content"}}

      <div class="product-detail">
        {{#with post}}
          {{#ionItem iconLeft=true iconRight=true class="item-text-wrap product-detail-item"}}
            <div class="post-item">
              {{> _voteButton}}
              <!-- <div class="author-avatar" style="background-color: {{author.color}}">
                <i class="author-icon {{author.icon}}"></i>
              </div>
              <div class="rep">
                <span class="author-rep">{{author.rep}}</span>
              </div> -->
              <p>
                {{body}}
              </p>

              <div class="post-item-bottom">
                <span class="comments-count">
                  {{numberOfComments}} Comments
                  <!-- {{> ionIcon icon="ios-chatbubble" }} -->
                </span>
                <span class="post-date">
                  {{fromNow createdAt}}
                  <!-- {{> ionIcon icon="ios-clock" }} -->
                </span>
              </div>
            </div>
          {{/ionItem}}
        {{/with}}

        <div class="list comments-list" id="comments-list">
          {{#each comments}}
            {{> _comment}}
          {{/each}}
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}

  <div class="bar bar-footer bar-light inline-comment-footer" data-keyboard-attach>
    <!-- <form class="item-input-wrapper"> -->
    {{#with post}}
      {{> _inlineNewComment}}
    {{/with}}
    <!-- </form> -->
  </div>



</template>
