<template name="postsShow">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  <!-- {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-post" data-post-id="{{post._id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}} -->

  {{#contentFor "headerTitle"}}
    <h1 class="title">토스트</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="product-detail">
        {{#with post}}
          {{#ionItem iconLeft=true iconRight=true class="item-text-wrap product-detail-item"}}
            <div class="post-item">
              {{> _voteButton}}
              <div class="author-avatar" style="background-color: {{author.color}}">
                <i class="author-icon {{author.icon}}"></i>
              </div>
              <div class="rep">
                <span class="author-rep">{{author.rep}}</span>
                <!-- <br><span class="under-rep">rep</span> -->
              </div>
              <p>
                {{body}}
              </p>

              <div class="post-item-bottom">
                <span class="comments-count">
                  댓글 {{numberOfComments}}개
                  <!-- {{> ionIcon icon="ios-chatbubble" }} -->
                </span>
                <span class="post-date">
                  {{fromNow createdAt}}
                  <!-- {{> ionIcon icon="ios-clock" }} -->
                </span>
              </div>
            </div>
          {{/ionItem}}
        {{/with}}

        <div class="list comments-list">
          {{#each comments}}
            {{> _comment}}
          {{/each}}
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}

  <div class="bar bar-footer bar-light inline-comment-footer" data-keyboard-attach>
    <!-- <form class="item-input-wrapper"> -->
    {{#with post}}
      {{> _inlineNewComment}}
    {{/with}}
    <!-- </form> -->
  </div>



</template>
