<template name="profile">

    <div class="profile-container">
    {{#with user}}

      <div class="profile-filters">
        <h5 class="padding filter filter-toasts active">My Toasts</h5>
        <h5 class="padding filter filter-comments">My Comments</h5>
      </div>

      {{#if showToasts}}
        <div class="posts-container">
          {{#each postsByUser}}
            <!-- {{> _postItem post=this path="posts.show"}} -->
            {{> _postItem}}
          {{/each}}
        </div>
      {{/if}}

      {{#if showComments}}
        <div class="posts-container">
          {{#each commentsByUser}}
            <!-- {{> _postItem post=postFromComment path="posts.show"}} -->
            {{> _postItem}}
          {{/each}}
        </div>
      {{/if}}
    {{/with}}
  </div>
</template>
