<template name="about">
  <div class="policy-container">
    <div class="policy-opening">
      <h4>Toaster</h4>
      <span class="policy-org">Honeyjam Studios</span>
    </div>

    <div class="policy-margin-top">
      <strong>Toaster</strong> is an anonymous social network. When you first sign up, you will be assigned the right network based on your email domain. For example, if your email ends in @google.com, you will be assigned to Google network.
    </div>

    <div class="policy-margin-top">
      <strong>Toaster</strong> needs a culture. Please help all of us make a good one.
    </div>

    <div class="policy-margin-top">
      <strong>Toaster</strong> is not a place to deride people. It is rather a place where you can openly share your honest opinions, without having to remain political. Within your network, you can truly become yourself by being anonymous.
    </div>
  </div>
</template>