<template name="about">

  {{#contentFor "headerButtonLeft"}}
    {{#if isNotAndroid}}
      {{>ionNavBackButton class="button-positive" text=false}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">토스터 앱 소개</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    <div class="about-container padding">
      <p>
        <strong>토스터</strong>는 익명 소셜 네트워크 앱입니다. 토스터에 처음 가입을 하면 유저의 이메일 주소에 따라서 알맞는 네트워크에 자동으로 등록 됩니다. 예를 들어, 이메일이 @snu.ac.kr 로 끝난다면 서울대 네트워크로 등록이 됩니다.
      </p>
      <p>
        <strong>토스터</strong>는 자유롭게 남을 비방하는 공간이 아닙니다. 반대로, 평소에 궁금했지만 정치적인 이유로 물어보지 못했었던 질문들을 물어보긴 위한, 그리고 계급 또는 나이 차이로 쉽게 대하지 못했던 사람들과의 소통 등을 위한 공간입니다.
      </p>
      <p>
        <strong>토스터</strong>는 어느 한 사람이 만들어 나가는 공간이 아니라 네트워크의 모든 일원이 함께 가꾸어 나가는 문화입니다. 부디 좋은 문화가 정착 될 수 있도록 도와주세요.
      </p>
      <p class="bottom-signature">
        허니잼 스튜디오
      </p>
    </div>
    
    {{/ionContent}}
  {{/ionView}}
</template>