<template name="privacy">

  <!-- {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Privacy Policy</h1>
  {{/contentFor}} -->

  {{#ionView}}
    {{#ionContent}}
      <div class="policy-container">
        <div class="policy-opening">
          <h4>Toaster</h4>
          <span class="policy-org">Honeyjam Studios</span>
        </div>

        <div>
          <h5>Social Network</h5>
          Toaster is an anonymous social network, where you can post without revealing your identity in your network.
        </div>

        <div>
          <h5>Audience</h5>
          Toaster is aimed at people over 13. Please be considerate of other people when you post.
        </div>

        <div>
          <h5>Your data</h5>
          We ask for your email address just to verify you actually belong to your network.
          We use your device token so we can send push notifications.
        </div>

        <div>
          <h5>Analytics</h5>
          Toaster includes measuring tools, so we can improve the service. The data are only available to the developers.
        </div>

        <div>
          <h5>Security</h5>
          The security of your personal information is extremely important. Your passwords are securely stored, and we make sure
          all the posts are kept anonymous. We delete author information periodically to minimize the risk of compromised data.
        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>