<template name="privacy">

  <!-- {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Privacy Policy</h1>
  {{/contentFor}} -->

  {{#ionView}}
    {{#ionContent}}
      <div class="policy-container">
        <div class="policy-opening">
          <h4>Toaster: Privacy Policy</h4>
          <span class="policy-org">Honeyjam Studios</span>
        </div>

        <div class="policy-margin-top">
          Last Updated: 9/16/2015
        </div>

        <div class="policy-margin-top">
          Our privacy policy applies to information we collect when you use or access our website, application, or just interact with us. We may change this privacy policy from time to time. Whenever we make changes to this privacy policy, the changes are effective one week after we post the revised privacy policy (as indicated by revising the date at the top of our privacy policy). We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy.
        </div>

        <div class="policy-margin-top">
          <h5>Information You Provide to Us</h5>
          We collect your email address when you register so that we can verify that you belong to the organization that you are trying to join on Toaster. The author information of each post gets deleted periodically to minimize the risk of compromised data.
        </div>

        <div class="policy-margin-top">
          <h5>Information We Collect Automatically When You Use the Services</h5>
          <p>When you access or use our services, we automatically collect information about you, including:</p>
          <ul>
          <li>Log Information: We log information about your use of our services, including the type of browser you use, access times, and pages viewed.</li>
          <li>Device Information: We collect information about the computer you use to access our services, including the hardware model, and operating system and version.</li>
          <li>Information Collected by Cookies and Other Tracking Technologies: We use various technologies to collect information, and this may include sending cookies to your computer. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits.</li>
          </ul>
        </div>

        <div class="policy-margin-top">
          <h5>Sharing of Information</h5>
          We do not share any of your information with anyone.
        </div>

        <div class="policy-margin-top">
          <h5>Third Party Analytics</h5>
          We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by us and third parties to, among other things, analyze and track data, determine the popularity of certain content and other websites and better understand your online activity. Our privacy policy does not apply to, and we are not responsible for, third party cookies, web beacons or other tracking technologies and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices.
        </div>

        <div class="policy-margin-top">
          <h5>Security</h5>
          The security of your personal information is extremely important. Your passwords are securely stored, and we make sure
          all the posts are kept anonymous. We delete author information periodically to minimize the risk of compromised data.
        </div>

        <div class="policy-margin-top">
          <h5>Questions & Contact Information</h5>
          Questions or comments about the Service may be directed to us at the email address howon@gettoaster.com.
        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>