<template name="settings">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">설정</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    <div class="list settings-list">

      <div class="item network-container">
        <span class="network">내 네트워크 <span class="network-domain">@{{networkDomain}}</span></span>
      </div>

      <div class="item item-divider">
        <span class="divider-text">어카운트</span>
      </div>
      
      <a class="item item-icon-left item-icon-right" href="#" data-action="sign-out">
        {{> ionIcon icon="ios-locked"}}
        <span class="item-text">로그아웃</span>
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      
      <div class="item item-divider">
        <span class="divider-text">토스터가 좋아요</span>
      </div>
      <a class="item item-icon-left item-icon-right settings-share" data-action="share-app" href="#">
        {{> ionIcon icon="ios-upload-outline"}}
        <span class="item-text">친구들에게 알리기</span>
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      <a class="item item-icon-left item-icon-right settings-rate" href="#">
        {{> ionIcon icon="ios-star"}}
        <span class="item-text">별점 매기기</span>
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      <a class="item item-icon-left item-icon-right settings-facebook" href="http://facebook.com/toasterapp">
        {{> ionIcon icon="social-facebook"}}
        <span class="item-text">좋아요 하기</span>
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      <a class="item item-icon-left item-icon-right settings-twitter" href="http://twitter.com">
        {{> ionIcon icon="social-twitter"}}
        <span class="item-text">팔로우 하기</span>
        {{> ionIcon icon="ios-arrow-right"}}
      </a>

      <div class="item item-divider">
        <span class="divider-text">앱 정보</span>
      </div>

      <a class="item item-icon-right settings-about" href="/settings/about">
        토스터 앱 소개
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      <a class="item item-icon-right settings-terms" href="/settings/terms">
        Terms of Service
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      <a class="item item-icon-right settings-privacy" href="/settings/privacy">
        Privacy Policy
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
    </div>

    {{/ionContent}}
  {{/ionView}}
</template>
