<template name="terms">
  <!-- {{#contentFor "headerButtonLeft"}}
    {{#if isNotAndroid}}
      {{>ionNavBackButton class="button-positive" text=false}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">이용정책</h1>
  {{/contentFor}} -->

  {{#ionView}}
    {{#ionContent}}
      <div class="terms-container padding">
        <p>
          1. <strong>토스터</strong>에 가입시 기재되는 이메일은 인증용으로 쓰이며 그 이후에는 본인 외에 어떤 유저도 볼 수 없습니다.
        </p>
        <p>
          2. <strong>토스터</strong>에 기재되는 모든 글은 익명이며 글의 작성자 외엔 누가 글을 썼는지 알 수 없습니다.
        </p>
        <p>
          3. <strong>토스터</strong>에 작성하는 글에 대한 책임은 작성자에게 있습니다.
        </p>
        <p>
          4. <strong>토스터</strong>의 어떤 유저도 작성자에 대한 정보를 요구할 수 없습니다.
        </p>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>