.bar-header .submit-new-post-btn.button-in-header {
  /* FIXME: so hard to override the style.. */
  right: 10px !important;
}

.post-end-mark {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}