<template name="recent">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive header-rep">
      {{userRep}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="submit-new-post-btn button button-clear pull-right button-in-header" data-ion-modal="newPost">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Recent</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList class="posts-container"}}
        {{#each posts}}
          {{> _postItem post=this path="posts.show"}}
        {{/each}}
        <div class="post-end-mark"></div>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
