<template name="recent">

  {{#contentFor "headerButtonLeft"}}
    <!-- <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button> -->
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="submit-new-post-btn button button-clear pull-right button-in-header" data-ion-modal="newPost">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">최근</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each posts}}
          {{> _postItem post=this path="posts.show"}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
