<template name="signUp">
  {{#ionModal title=""}}
    <div class="signup-container">
      <div class="row">
        <!-- <h1 class="signin-title">toaster</h1> -->

<!--         <span class="already-registered error-msg">
          벌써 등록된 이메일이에요!
        </span>
        <span class="pw-mismatch error-msg">
          똑같은 비밀번호가 아니에요!
        </span>
        <span class="invalid-email error-msg">
          이메일이 틀려요!
        </span>
   -->  {{#ionItem}}
          <form>
            <input type="email" class="form-control" id="new-email" placeholder="학교 또는 회사 이메일">
            <input type="password" class="form-control" id="new-password" placeholder="비밀번호">
            <input type="password" class="form-control" id="new-password2" placeholder="비밀번호 확인">
            <div class="btn-row">
              <button class="button signup-btn button-positive">회원가입</button>
              <p class="below-btn">벌써 회원이세요? <a class="signin-link">로그인</a></p>
            </div>
          </form>
        {{/ionItem}}
      </div>
    </div>
  {{/ionModal}}
</template>
