<template name="notifications">
  {{#contentFor "headerTitle"}}
    <h1 class="title">알림</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if isNotificationEmpty}}
        <div class="empty-view">
          {{> ionIcon icon="ios-bell"}}
          아직 특별히 알림이 없어요 :(
        </div>
      {{else}}
        {{#ionList class="notification-list"}}
          {{#each notifications}}
            {{> _notificationItem}}
          {{/each}}
        {{/ionList}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
